services:
    # Autoconfigure services for Elasticsearch integration
    _defaults:
        autowire: true
        autoconfigure: true

    # Elasticsearch Round Robin Client Factory
    ElasticsearchIntegration\Factory\ElasticsearchRoundRobinClientFactory:
        arguments:
            $logger: '@?logger'
        tags:
            - { name: 'monolog.logger', channel: 'elasticsearch' }

    # Elasticsearch Round Robin HTTP Client
    ElasticsearchIntegration\HttpClient\RoundRobinHttpClient:
        arguments:
            $hosts: '%elasticsearch_integration.hosts%'
            $logger: '@?logger'
        tags:
            - { name: 'monolog.logger', channel: 'elasticsearch' }

    # Service aliases for convenience
    Elastic\Elasticsearch\Client: '@elasticsearch.client'
